.venv
__pycach__
.flatpak
.flatpak-builder
.vscode
.qodo
python-deps-src
io.github.xboxgp_esde_sync.desktop
io.github.xboxgp_esde_sync.yaml
xboxgames_debug.log
additional_data.json
additional_data.timestamp
settings.json