aiofiles
aiohappyeyeballs
aiohttp
aiosignal
asyncio
attrs
certifi
charset-normalizer
DateTime
frozenlist
idna
multidict
propcache
PyQt5
PyQt5-Qt5
PyQt5_sip
pytz
requests
setuptools
urllib3
yarl
zope.interface